@for (toast of toasts$ | async; track toast.id) {
<div class="toast" [class]="'toast-' + toast.type" [@toastAnimation]>
    <div class="toast-icon">
        @switch (toast.type) {
        @case ('success') {
        <i class="fas fa-check-circle"></i>
        }
        @case ('error') {
        <i class="fas fa-exclamation-circle"></i>
        }
        @case ('warning') {
        <i class="fas fa-exclamation-triangle"></i>
        }
        @case ('info') {
        <i class="fas fa-info-circle"></i>
        }
        }
    </div>
    <div class="toast-message">{{ toast.message }}</div>
    <button class="toast-close" (click)="removeToast(toast.id)">
        <i class="fas fa-times"></i>
    </button>
</div>
}